{% extends 'myNews/base.html' %}
{%block content%}
<style>
	.profile-pic{
		max-width: 250px;
		margin: 0 auto;
		border-radius: 40%;
	}

	.container-fluid{
		 padding-bottom: 6%;
		 }

</style>
{%include 'myNews/nav.html'%}
<div class ="container-fluid">
  <div class="row">
  	<div class="col-md-3">
  		<div class="card card-body">

  			<a class="btn btn-dark" href="{% url 'index' %}"> &#8592; Back to Profile</a>
  			<hr>
  			<h3 style="text-align: center">Profile Settings</h3>
  			<hr>
  			<img class="profile-pic" src="/static/img/{{user.userprofile.profile_picture}}" ><br>
  		</div>
  	</div>
  	<div class="col-md-9">
  		<div class="card card-body">
  			<form method="POST" action="" enctype="multipart/form-data">
          <h1 class="text-info">Edit Profile Here</h1>
  				{% csrf_token %}
  				{{form.as_p}}
          <button class="btn btn-info">Save Changes</button>
  			</form>
  		</div>
  	</div>
  </div>
	</div>

{%endblock%}
